{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block navfooter %}
<div class="modal w-100" id="logoutModal"  tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content  w-100">
      <!-- Modal body -->
      <div class="modal-body">
        {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
        <h4 class="">Your details have been captured.</h4>
        <p class="">Please complete setting up your account by setting the username and password...</p>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn"style="background: #00ace6;color: #fff">Create Account</button>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock navfooter %}